@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  background-color: #F2F2F2;
  min-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

.page-header {
  color:#000000;
  background-color: #ffffff;
}

.navigation {
display: flex;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  wıdth: 340px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
display: block;
padding: 20px 16px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  list-style: none;
}

.navigation-list .navigation-user {
  min-width: 20px;
  min-height: 20px;
}

.main-container {
  flex-grow:1;
  /* padding-top: 50px;
  padding-bottom: 104px; */
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;

}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-item-link {
  text-transform: uppercase;
}

.logo {
display: block;
margin: 0 auto;
margin-bottom: 25px;
}

.logo-background {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}

.description {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

.description-top-container {
  padding-top: 69px;
  padding-bottom: 69px;
  /* padding: 113px 85px; */
  margin: 0;
}

.description-top-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description-top-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color:#333333;
}

.description-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 1200px; */
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.description-item {
  width: 400px;
}

.description-item-blue .description-title {
color:#FFFFFF;
}

.description-title {
  margin-top: 0;
  margin-bottom: 62px;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.description-subtitle {
  margin: 0;
  width: 230;
}

.description-item-blue {
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.description-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Не убрался нижний отступ у картинок
.description-background {
  display: block;
}
*/

.advantages {
  text-align: center;
  background-color: #ffffff;
}

.advantages-top-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-transform: uppercase;
}

.advantages-subtitle {
  width: 230px;
}

.advantages-item {
  width: 400px;
  padding: 81px 85px;
}

.advantages-item-home {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages-item-food {
  color: #000000;
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages-item-gifts {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.action {
  padding: 96px 304px;
  background-color: #ffffff;
  text-align: center;
  }

  .action-subtitle {
  color: #000000;
  }

.button-brown {
  border: none;
  color: white;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  background-color: #756157;
  text-transform: uppercase;
}

.subscribe {
  padding: 96px 258px 104px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.catalog-subscribe {
  padding: 96px 258px 104px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.button-blue {
  border: none;
  color: white;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}


.page-footer-list {
  /* width: 142px; */
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer-item {
  width: 47px;
  height: 40px;

}

.page-footer-phone {
  width: 720px;
  margin-left: auto;
  color:#000000;
  background-color: #ffffff;
  text-decoration-line: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* catalog */
.main-container {
  width: 1200px;
  background-color:#ffffff;
}

.background-hero {
  margin: 0 auto;
  background-image: url(../images/background-catalog.jpg);
  padding: 35px 70px 70px 70px;
  color:#ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-title {
  width: 495px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 40px;
  gap: 10px;
  list-style-type: none;
}

.breadcrumbs-item-link {
  margin-right: 28px;
  color: inherit;
}

.catalog-button {
  width: 191px;
  padding: 8px 50px;
  text-align: center;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.buttons-filter {
  display: flex;
}

.hotels-selection-container {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}

.hotels-filter {
  width: 340px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.select-control {
width: 292px;
min-height: 49px;
}

.cards {
  display: flex;
  width: 160px;
  margin-left: 70px;
  gap: 8px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 40px 70px;
  list-style: none;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color:#000000;
  text-decoration: none;
}

.card-button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-green {

  color:#ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.catalog-subscribe {}

.pagination {
  display: flex;
  margin: 0;
  padding: 60px 70px 40px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 19px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.button-view {
  display: flex;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  background-color: #ffffff;
}
