@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*
html {
  height: 100%;
}*/

body {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  background-color: #F2F2F2;
  min-width: 1280px;
}

.page-header {
  color:#000000;
  background-color: #ffffff;
}

.navigation {
display: flex;
width: 1200px;
margin: 0 auto;
}

.navigation-list {
  wıdth: 340px;
  margin: 0;
  padding: 0;
}

.user-navigation-list {
  max-width: 270px;
  margin-left: auto;
}

.main-container {
 /* flex-grow:1;
  min-height: 100%;*/
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 81px;

}
.p
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-item-link {
  text-transform: uppercase;
}

.logo-background {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.description {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

.description-top-container {
  padding-top: 69px;
  padding-bottom: 69px;
  margin: 0;
}

.description-top-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description-top-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color:#333333;
}

.description-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;

}

.description-item {
  width: 400px;
}

.description-item-blue .description-title {
color:#FFFFFF;
}

.description-title {
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.description-subtitle {
  width: 230;
}

.description-item-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.description-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Не убрался нижний отступ у картинок
.description-background {
  display: block;
}
*/

.advantages {
  text-align: center;
  background-color: #ffffff;
}

.advantages-top-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-transform: uppercase;
}

.advantages-subtitle {
  width: 230px;
}

.advantages-item {
  width: 400px;
  padding: 81px 85px;
}

.advantages-item-home {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat

}

.advantages-item-food {
  color: #000000;
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat
}

.advantages-item-gifts {
  color: #000000;
  background-color: #83B3D31F;
  background-image: url("../images/icons/icon-gift.svg");
  background-repeat: no-repeat
}

.action {
  padding: 96px 304px;
  background-color: #ffffff;
  text-align: center;
  }

  .action-subtitle {
    color: #000000;
  }

.button-brown {
  border: none;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    cursor: pointer;
    background-color: #756157;
    text-transform: uppercase;
}

.subscribe {
  padding: 96px 258px 104px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.catalog-subscribe {
  padding: 96px 258px 104px;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.button-blue {
    border: none;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    cursor: pointer;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.page-footer-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;

}

.page-footer-list {
  width: 142px;
  display: flex;
}

.page-footer-phone {
  width: 720px;
  margin-left: auto;
  color:#000000;
  background-color: #ffffff;
  text-decoration-line: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* catalog */
.main-container {
  width: 1200px;
}

.background-hero {
width: 1200px;
margin: 0 auto;
background-image: url(../images/background-catalog.jpg);
padding: 35px 70px 70px 70px;
color:#ffffff;
}

.inner-title {
  width: 495px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  width: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.catalog-button {
  width: 191px;
  padding: 8px 50px;
  text-align: center;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.hotels-selection {
  display: flex;
  padding: 50px 70px 60px;
}

.hotels-filter {
  width: 340px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-transform: uppercase;
  color:#000000;
}

.select-control {
width: 292px;

}

.cards {
  width: 160px;
  margin-left: 70px;
}

.product-list {
  display: flex;
  gap: 20px
}

.product-card-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  color:#000000;
  text-decoration: none;
}

.card-button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-green {

  color:#ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.catalog-subscribe {}
